/* From epiphany https://gitlab.gnome.org/GNOME/epiphany/-/blob/master/src/resources/about.css */
html {
    /* Adwaita colors */
    /* card fg color */
    --bg-color: #ffffff;
    --fg-color: rgba(0, 0, 0, 0.8);
    --base-color: #fff;
    --text-color: #000;
    --borders: #d3d7cf;
    --icon-invert: 0.2;
    --link-color: #1c71d8;
    /* average(0x2e, 0x34, 0x36) / 0xff */

    /* Misc colors */
    --header-color: #999;
    --header-text-color: white;
    --row-hover-color: rgba(0, 0, 0, .1);

    /* Plain text email styles */
    --quote-bg-color: #f6f5f4;
    --quote-border-color: #deddda;
}

html.email-plain-text,
html:has(body:empty) {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {

    /* 
    We don't override colours for dark style in HTML emails.

    The unfortunate reason is that we can't make sure the text is still
    legible.

    HTML emails assume a white canvas and then mess with text colours. It's
    impossible to detect whether the text is still legible when setting the
    background to dark.
    */
    html.email-plain-text,
    html:has(body:empty) {
        /* Adwaita colors */
        /* card bg color with default window background.
        This also needs to be updated in message view */
        --bg-color: #333337;
        --fg-color: #fff;
        --base-color: rgba(255, 255, 255, 0.08);
        --text-color: #fff;
        --borders: #1b1b1b;
        --icon-invert: 0.93;
        --link-color: #62a0ea;
        /* average(0xee, 0xee, 0xec) / 0xff */

        /* Misc colors */
        --header-color: #666;
        --row-hover-color: rgba(255, 255, 255, .1);

        /* Plain text email styles */
        --quote-bg-color: #5e5c64;
        --quote-border-color: #77767b;
    }
}

html {
    font-family: -webkit-system-font;
    font-size: 11pt;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

h1 {
    font-size: 20pt;
    font-weight: 800;
    margin-bottom: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

html.email-plain-text p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

html.email-plain-text p:empty {
    display: inline-block;
    margin: 0;
}

html.email-plain-text .quote {
    background-color: var(--quote-bg-color);
    padding: 12px;
    border-radius: 6px;
}

html.email-plain-text p:first-child {
    margin-block-start: 0;
}

html.email-plain-text p:last-child {
    margin-block-end: 0;
}

html.email-plain-text blockquote {
    margin: 0;
    padding-inline-start: 0.5em;
    border-left: 6px solid var(--quote-border-color);
}

html.email-plain-text details > summary {
    list-style: none;
    margin-bottom: 6px;
}

html.email-plain-text details > summary > span {
    color: var(--link-color);
    cursor: pointer;
}