.counter {
  background: alpha(currentColor, .15);
  border-radius: 999px;
  padding: 2px;
  font-size: smaller;
  font-weight: bold;
  min-width: 1rem;
}

.counter.long {
  padding-left: 6px;
  padding-right: 6px;
}

.counter.needs-attention {
  background: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.mailbox-row > box {
  padding: 9px 3px;
  border-spacing: 12px;
}

.mailbox-row:drop(active) {
  box-shadow: inset 0 0 0 2px var(--accent-bg-color);
}

.separator-row {
  padding: 6px;
  min-height: 0;
}

.thread-row {
  padding: 9px 0;
  border-spacing: 12px 6px;
}

.thread-row > box {
  border-spacing: 6px;
}

.fab {
  margin: 18px;
  padding: 6px;
}

.message-box {
  margin: 24px 12px;
  border-spacing: 24px;
}

message-page.compact .message-box {
  margin: 12px 12px;
}

.message-list {
  background: none;
  color: var(--card-fg-color);
}

message-view > list {
  margin-bottom: 12px;
}

message-view .web-view-loading {
  margin: 12px;
  border-spacing: 12px;
}

.collapsible-row {
  padding: 0;
}

message-view {
  padding: 0;
  border-radius: 12px;
}

message-view.collapsed > list > row {
  border: none;
}

message-view .message-header-list,
message-view .message-header {
  border-radius: 12px 12px 0 0;
}

message-view.collapsed:last-child .message-header {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

message-view.collapsed + message-view .message-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.message-header grid {
  padding: 12px;
  border-spacing: 12px 6px;
}

.message-header grid box {
  border-spacing: 6px;
}

message-page.compact .message-header grid {
  border-spacing: 12px 3px;
}

message-page.compact .subject {
  margin-top: 3px;
}

/* Undo activatable for the lower part of the view */
message-view .web-bin:hover,
message-view .message-web-view:hover {
  background-image: none;
}

message-view .web-view-list-row {
  padding: 0;
}

message-view webkitwebview {
  margin: 0;
}


.attachment-row > box {
  border-spacing: 6px;
}

/* The attachment list is boxed but is actually located below other lists */
.attachment-list {
  box-shadow: none;
  background-color: transparent;
}

.attachment-list,
.attachment-list > row:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Drag icon */
.message-drag-view {
  border-spacing: 6px;
  margin-top: 26px;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

/* Dialog Page */

/* This matches with pref pages margin: 24px 12px.
 * However we split it up and give the children 6px margin instead
 * so that we can subsequently remove it for revealers to avoid clipping
 */
.dialog-page .container {
  margin: 18px 6px;
  border-spacing: 0;
}

/* We only need this for .content */
.dialog-page .container > .header {
  margin: 6px;
}

.dialog-page .container > .description {
  margin: 6px;
}

/* Handle nested boxes */
.dialog-page .content > *:not(box),
.dialog-page .content > box > *:not(revealer) {
  margin: 6px;
}

/* Giving a revealer padding does not look very nice, so we give the child a margin instead */
.dialog-page .content > revealer > *,
.dialog-page .content > box > revealer > * {
  margin: 6px;
}

/* We want a spacing of 24px, but 12 of those are used for margin above instead */
.dialog-page .content {
  margin-top: 12px;
  border-spacing: 12px;
}